<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <section>
        <h3>Your spending budget</h3>
        <%= render 'shared/budget' %>
      </section>
      <section>
        <h3>Items Feed</h3>
        <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>What to Wear</h1>
    <p>
      This is the home page.
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
