<% provide :title, @user.name %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.garments.any? %>
      <h3>Garments (<%= @user.garments.count %>)</h3>
      <ol class="garments">
        <%= render @garments %>
      </ol>
      <%= will_paginate @garments %>
    <% end %>
  </div>
</div>
