<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <% if current_user?(feed_item.user) %>
    has added <%= feed_item.description %>
  <% else %>
    has added an item
  <% end %><br>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>
